#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    overflow: hidden;
}

.navbar-brand {
    position: absolute;
}

#main-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;

    background-color:  rgba(240, 248, 255, 0.7);

    overflow: hidden;
}

#main-container canvas{
    position: absolute;
    top :0;
    z-index: -1;
}

/* temporary */

#container-announcement {
    color: black;
    font-size: 64px;
    text-align: center;
    line-height: 450px;
}

#container-wardrobe {
    width: 100%;
    background-color:  rgba(98, 182, 203, 0.9);
    overflow: hidden;
    height: 500px;
    position: absolute;
    
}

.container-block {
    height: 500px;
    position: relative;
}

.wardrobe-item {
    height: 80%;
    width: 250px;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    box-shadow: 5px 0px  rgba(200, 200, 200, 1);
   
}

.wardrobe-item:hover {
    background-color:  rgba(220, 220, 220, 0.7);
    box-shadow: 5px 0px  rgba(160, 160, 160, 0.7);
    cursor: pointer;

}

.wardrobe-item-expanded{
    background-color: rgba(255, 255, 255, 1);
    width: 400px;
    -webkit-transition: width 1s, height 1s, margin 1s;
    -moz-transition: width 1s, height 1s, margin 1s;
    -ms-transition: width 1s, height 1s, margin 1s;
    transition: width 1s, height 1s, margin 1s; /* transitions don't work? */
    position: absolute;
    margin: 0;
    left: -25%;
    right: 0; 
}

.description_container{
    position: absolute;
    margin: 2%;
    left: 50%;
}

.carousel-control-prev, .carousel-control-next {
    opacity: 0.7;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}