#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 10;
    overflow: hidden;
}

.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#main-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#main-container canvas{
    position: absolute;
    top :0;
    z-index: -1;
}

.lot-block {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 650px;
}

.block-attr-comingup {
    
}

.block-attr-ended {

}

/* temporary */

#container-announcement {
    height: 500px;
    color: black;
    font-size: 64px;
    text-align: center;
    line-height: 450px;
}

.wardrobe {
    height: 750px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.wardrobe-item {
    height: 100%;
    width: 400px;
    display: inline-block;
}

#item-1 {
    background: url('img1.jpg');
    background-size: cover;
}

#item-2 {
    background: url('img2.jpg');
    background-size: cover;
}

#item-3 {
    background: url('img3.jpg');
    background-size: cover;
}

#item-4 {
    background: url('img1.jpg');
    background-size: cover;
}

#item-5 {
    background: url('img2.jpg');
    background-size: cover;
}

#item-6 {
    background: url('img3.jpg');
    background-size: cover;
}

#random-hash-1 {
    background: url('img1.jpg');
    background-size: cover;
    
    color: rgba(255, 255, 255, 0);
    font-size: 64px;
    text-align: center;
    line-height: 450px;
}

#random-hash-1:hover {
    color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-color: #0099cc;
    border-width: -5px;
}

#random-hash-2 {
    background: url('img2.jpg');
    background-size: cover;
    
}

#random-hash-3 {
    background: url('img3.jpg');
    background-size: cover;
}